<mujoco>
  <compiler
        meshdir="../meshes/"
        balanceinertia="true"
        discardvisual="false" />
</mujoco>
<?xml version="1.0" ?>
<robot name="mak-zero">
    <material name="silver">
      <color rgba="0.700 0.700 0.700 1.000"/>
    </material>
    <link name="trunk">
       <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1e-9" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
    <joint name="trunk_frame" type="fixed">
        <origin xyz="-0.035 0 0.26943" rpy="0 0 0" />
        <parent link="pelvis" />
        <child link="trunk" />
        <axis xyz="0 0 0"/>
    </joint>
    <link name="imu_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.001"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
            <material name="silver"/>
        </visual>
    </link>
    <joint name="imu_joint" type="fixed">
        <parent link="trunk"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="left_hip_yaw" type="revolute">
      <origin xyz="-0.046575 0.048318 0.381049" rpy="0 0 0"/>
      <parent link="pelvis"/>
      <child link="left_hip_rotation"/>
      <axis xyz="0.0 0.0 -1.0"/>
      <limit upper="0.349066" lower="-0.349066" effort="23.7" velocity="30"/>
    </joint>
    <joint name="left_hip_roll" type="revolute">
      <origin xyz="-0.012208 -0.000241 -0.088208" rpy="0 0 0"/>
      <parent link="left_hip_rotation"/>
      <child link="left_hip"/>
      <axis xyz="1.0 0.0 0.0"/>
      <limit upper="0.174533" lower="-0.174533" effort="23.7" velocity="30"/>
    </joint>
    <joint name="left_hip_pitch" type="revolute">
      <origin xyz="0.02885 0.1018 -0.000556" rpy="0 0 0"/>
      <parent link="left_hip"/>
      <child link="left_thigh"/>
      <axis xyz="0.0 1.0 -0.0"/>
      <limit upper="0.523599" lower="-0.523599" effort="23.7" velocity="30"/>
    </joint>
    <joint name="left_knee" type="revolute">
      <origin xyz="-0.088973 0.0 -0.067516" rpy="0 0 0"/>
      <parent link="left_thigh"/>
      <child link="left_shin"/>
      <axis xyz="0.0 1.0 -0.0"/>
      <limit upper="0.523599" lower="-0.523599" effort="23.7" velocity="30"/>
    </joint>
    <joint name="left_ankle" type="revolute">
      <origin xyz="0.044426 -0.04 -0.134774" rpy="0 0 0"/>
      <parent link="left_shin"/>
      <child link="left_foot_link"/>
      <axis xyz="0.0 1.0 -0.0"/>
      <limit upper="0.523599" lower="-0.523599" effort="23.7" velocity="30"/>
    </joint>
    <joint name="right_hip_yaw" type="revolute">
      <origin xyz="-0.046575 -0.051682 0.381049" rpy="0 0 0"/>
      <parent link="pelvis"/>
      <child link="right_hip_rotation"/>
      <axis xyz="0.0 0.0 -1.0"/>
      <limit upper="0.349066" lower="-0.349066" effort="23.7" velocity="30"/>
    </joint>
    <joint name="right_hip_roll" type="revolute">
      <origin xyz="-0.012208 -0.000241 -0.088208" rpy="0 0 0"/>
      <parent link="right_hip_rotation"/>
      <child link="right_hip"/>
      <axis xyz="1.0 0.0 0.0"/>
      <limit upper="0.174533" lower="-0.174533" effort="23.7" velocity="30"/>
    </joint>
    <joint name="right_hip_pitch" type="revolute">
      <origin xyz="0.02485 -0.1011 -0.000556" rpy="0 0 0"/>
      <parent link="right_hip"/>
      <child link="right_thigh"/>
      <axis xyz="0.0 -1.0 0.0"/>
      <limit upper="0.523599" lower="-0.523599" effort="23.7" velocity="30"/>
    </joint>
    <joint name="right_knee" type="revolute">
      <origin xyz="-0.090138 0.0 -0.065953" rpy="0 0 0"/>
      <parent link="right_thigh"/>
      <child link="right_shin"/>
      <axis xyz="0.0 1.0 0.0"/>
      <limit upper="0.523599" lower="-0.523599" effort="23.7" velocity="30"/>
    </joint>
    <joint name="right_ankle" type="revolute">
      <origin xyz="0.042068 0.04 -0.135529" rpy="0 0 0"/>
      <parent link="right_shin"/>
      <child link="right_foot_link"/>
      <axis xyz="0.0 -1.0 0.0"/>
      <limit upper="0.523599" lower="-0.523599" effort="23.7" velocity="30"/>
    </joint>
    <link name="pelvis">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/pelvis.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
    </link>
    <link name="left_foot">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="1e-9" />
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <joint name="left_foot_frame" type="fixed">
      <origin xyz="0.025 0.0 -0.0785" rpy="0 0 0" />
      <parent link="left_foot_link" />
      <child link="left_foot" />
      <axis xyz="0 0 0"/>
    </joint>
    <link name="left_foot_link">
      <inertial>
        <origin xyz="0.07448 -0.109877 -0.089995" rpy="0 0 0"/>
        <mass value="1e-9"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.07448 -0.109877 -0.089995" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_foot.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.07448 -0.109877 -0.089995" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_foot.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="left_foot_force_sensor">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.01 0.01 0.001"/>
          </geometry>
          <material name="silver"/>
        </visual>
    </link>
    <joint name="left_foot_force_sensor_joint" type="fixed">
       <parent link="left_foot"/>
       <child link="left_foot_force_sensor"/>
       <origin xyz="0 0 -0.001" rpy="0 0 0"/>
    </joint>
    <link name="left_shin">
      <inertial>
        <origin xyz="0.118906 -0.149877 -0.224769" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.118906 -0.149877 -0.224769" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_shin.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.118906 -0.149877 -0.224769" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_shin.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="left_thigh">
      <inertial>
        <origin xyz="0.029933 -0.149877 -0.292285" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.029933 -0.149877 -0.292285" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_thigh.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.029933 -0.149877 -0.292285" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_thigh.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="left_hip">
      <inertial>
        <origin xyz="0.058783 -0.048077 -0.292841" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.058783 -0.048077 -0.292841" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_hip.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.058783 -0.048077 -0.292841" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_hip.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="left_hip_rotation">
      <inertial>
        <origin xyz="0.046575 -0.048318 -0.381049" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.046575 -0.048318 -0.381049" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_hip_rotation.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.046575 -0.048318 -0.381049" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/left_hip_rotation.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="right_foot">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="1e-9" />
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <joint name="right_foot_frame" type="fixed">
        <origin xyz="0.025 0.0 -0.0785" rpy="0 0 0" />
        <parent link="right_foot_link" />
        <child link="right_foot" />
        <axis xyz="0 0 0"/>
    </joint>
    <link name="right_foot_link">
      <inertial>
        <origin xyz="0.082003 0.113023 -0.090803" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.082003 0.113023 -0.090803" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_foot.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.082003 0.113023 -0.090803" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_foot.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="right_foot_force_sensor">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.01 0.01 0.001"/>
          </geometry>
          <material name="silver"/>
        </visual>
    </link>
    <joint name="right_foot_force_sensor_joint" type="fixed">
        <parent link="right_foot"/>
        <child link="right_foot_force_sensor"/>
        <origin xyz="0 0 -0.001" rpy="0 0 0"/>
    </joint>
    <link name="right_shin">
      <inertial>
        <origin xyz="0.124071 0.153023 -0.226332" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.124071 0.153023 -0.226332" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_shin.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.124071 0.153023 -0.226332" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_shin.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="right_thigh">
      <inertial>
        <origin xyz="0.033933 0.153023 -0.292285" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.033933 0.153023 -0.292285" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_thigh.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.033933 0.153023 -0.292285" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_thigh.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="right_hip">
      <inertial>
        <origin xyz="0.058783 0.051923 -0.292841" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.058783 0.051923 -0.292841" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_hip.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.058783 0.051923 -0.292841" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_hip.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="right_hip_rotation">
      <inertial>
        <origin xyz="0.046575 0.051682 -0.381049" rpy="0 0 0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>
      <visual>
        <origin xyz="0.046575 0.051682 -0.381049" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_hip_rotation.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0.046575 0.051682 -0.381049" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/right_hip_rotation.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
</robot>
